@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    overflow-x: hidden;
    background-color: #FAFAFA;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 2.7fr 1fr;
    grid-template-rows: 15vh 85vh;
    grid-template-areas: "h h" 
                        "m a"
}

header{
    grid-area: h;
    width: 100vw;
    height: 3.7rem;
    background-color: #FFFFFF;
    border-bottom: 2px solid #F3F3F3;   
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 2fr 1.2fr 0.3fr;
    grid-template-rows: 100%;
    grid-template-areas: "logo pesquisa nav nada";
    position: fixed;
}

header input[type=text]{
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    width: 15rem;
    height: 1.7rem;
    text-align: center;
    background-color: #FAFAFA;
}

nav img{
    width: 23px;
    height: 23px;
    margin: 0.4rem;
    cursor: pointer;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
}
aside{
    margin-top: 5rem;
}


.UserStories{
    min-width: 50vw;
    min-height: 16vh;
    background-color: #FFFFFF;
    border: 1px solid #DBDBDB;
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 3px;
}

.stories{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 2rem;
    
}

.stories img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: 3px solid #D62B81;
    cursor: pointer;
}

.stories a {
    font-size: 9pt;
    margin-top: 5px;
}


.userSection{
    display: flex;
    align-items: center;
}

.profileImg{
    width: 77px;
}

#profileSectionImg{
    width: 77px;
    height: 77px;
    border-radius: 60px;
}

.userInfo{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}



.firstSection {
    display: flex;
    align-items: center;
    color: grey;
    width: 100%;
    margin-top: 2rem;
    font-size: 11pt;
    font-weight: 600;
}

.firstSection a:first-child{
    margin-right: 25%;
}

.firstSection a:last-child{
    color: black;
}

.userSuggestionSection{
    margin-top: 1rem;
    display: flex;
}

.userSuggestionImg img{
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

.suggestionUserInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
}

.suggestionUserInfo:last-child{
    color: grey;
    font-size: 9pt;
}

.post{
    width: 50vw;
    background: white;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border: 1px solid #DBDBDB;
    border-radius: 1px;
}

.postHeader{
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 11pt;

}

.postHeader img{
    width: 35px;
    height: 35px;
    border-radius: 40px;
    margin-left: 1.5rem;
    margin-right: 1rem;
}

.postContent{
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

.postContent img{
    width: 100%;
    height: auto;
    border: 1px solid #DBDBDB;
}

.postNav{
    width: 100%;
    height: 2rem;
    display: grid;
    grid-template-columns: 10fr 1fr;
}

.postNav img{
    width: 23px;
    height: 23px;
    margin: 0.4rem;
    cursor: pointer;
}

.postIcons{
    margin-left: 1rem;
}

.postComments{
    height: 7rem;
    border-bottom: 1px solid #DBDBDB;
}

.postComments strong{
    cursor: pointer;
}

.likes{
    display: flex;
    align-items: center;
    margin-left: 1.35rem;
    margin-top: 10px;
    font-size: 11pt;
    margin-bottom: 10px;
}

.likes img{
    width: 25px;
    height: 25px;
    border-radius: 30px;
    margin-right: 0.5rem;
}

#postLegenda{
    margin-left: 1.5rem;
    font-size: 11pt;
}

#postData{
    margin-left: 1.5rem;
    margin-top: 30px;
    font-size: 9pt;
    color: grey;
}