@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #FAFAFA;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 15vh 85vh;
    grid-template-areas: "h h" 
                        "m a"
}

header{
    grid-area: h;
    width: 100vw;
    height: 3.7rem;
    background-color: #FFFFFF;
    border-bottom: 2px solid #F3F3F3;   
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
}

header input[type=text]{
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    width: 13rem;
    height: 1.7rem;
    text-align: center;
    background-color: #FAFAFA;
}

main{
    display: flex;
    justify-content: center;
}

.UserStories{
    width: 50vw;
    height: 16vh;
    background-color: #FFFFFF;
    border: 1px solid #DBDBDB;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}


.userSection{
    display: flex;
    align-items: center;
}

.profileImg{
    width: 77px;
}

#profileSectionImg{
    width: 77px;
    height: 77px;
    border-radius: 60px;
}

.userInfo{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}
